<!-- begin post (HOME ONLY) -->
{% assign p = include.post | default: post %}
{% assign author = site.authors[p.author] %}

<div class="card home-postbox {% if include.featured %}home-postbox-featured{% endif %}">
  <a class="home-postbox-link" href="{{ p.url | absolute_url }}">
    {% if p.image %}
      <img class="home-postbox-img" src="{{ site.baseurl }}/{{ p.image }}" alt="{{ p.title }}">
    {% endif %}
  </a>

  <div class="card-block home-postbox-body">
    <h2 class="card-title serif-font home-postbox-title">
      <a href="{{ p.url | absolute_url }}">{{ p.title }}</a>
    </h2>

    <p class="card-text text-muted home-postbox-excerpt">
      {{ p.excerpt | strip_html | truncatewords:18 }}
    </p>

    <div class="metafooter">
      <div class="wrapfooter small d-flex align-items-center justify-content-center">
        <span class="author-meta text-center">
          By <span class="post-name">
            {% if p.author %}{{ author.display_name }}{% else %}{{ site.author }}{% endif %}
          </span>,
          on <span class="post-date">{{ p.date | date_to_string }}</span>
        </span>
      </div>
    </div>
  </div>
</div>
<!-- end post (HOME ONLY) -->
